body {
    background-color: rgb(14, 112, 168);
}
p {
    color: white;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}
h1 {
    color: white;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}

