body {
    background-image: url(wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 10px;
}

p, ul, li, h1, h2, a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.text {
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    margin-bottom: 35px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}